<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div *ngFor="let painting of paintings" class="col-lg-3 col-md-3 col-sm-6" (click)="lgModal.show(painting)">
      <app-thumb [paintingSource]="painting"></app-thumb>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>

<button type="button" class="btn btn-primary" (click)="openModalWithComponent()">Create modal with component</button>


<!--Large modal-->
<button class="btn btn-primary" (click)="lgModal.show()">Large modal</button>
 
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>