.container{
    min-height: 70vh;
}

p{
    font-size: 1rem;
}

pagination{
    margin: 50px 0 50px 0;
}

.fa-check-circle{
    font-size: larger;
    margin-right: 8px;
    color: #FFA600;
}

.fa-times-circle
{
    font-size: larger;
    margin-right: 8px;
    color: #FF0000;
}

/* Modal */
.modal-content {
    background-color: #221F1F;
    color: #E7E7E7;
    border: 3px solid #474747;
}

.modal-dialog {
    max-width: 60%;
    margin: 1.75rem auto;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 0;
}

.close {
    color: #0062cc;
    text-shadow: 0 1px 0 #222F2F; 
    background-color: #222F2F;    
    font-size: 1.8rem;
    padding: 4px 8px 8px 8px;
    margin-top: -10px;
    margin-right: -5px;
    border-radius: 3px;
}
.close span{
    padding: 3px;
}
img{
    max-height: 70vh;
}

.bolded{
    font-weight: bold;
}

.btn-primary{
    background-color: #222F2F;    
    color: #1E66A6;
    border: none;
    border-radius: 2px;
    font-size: small;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within,
.btn.btn-primary:hover {
  background-color: #21539c;
  background-color: #222F2F;
}


.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within,
.btn.btn-primary:hover {
  box-shadow: 0 0 0 0.1rem rgb(33 83 156 / 50%);
  color: white;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem rgb(33 83 156 / 70%);
}
