/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/united/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/flag-icon-css/css/flag-icon.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
/* ngx-toastr */

@import '../node_modules/ngx-toastr/toastr';
@font-face {
  font-family: lato;
  src: url("./assets/fonts/lucida-grande/Lucida Grande Regular.ttf") format("opentype");
}

body {
  color: #21539c;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Lucida Grande Regular", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif !important;
}

/* app-painting-list */
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).focus, .btn-primary:not(:disabled):not(.disabled):focus, .show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled).focus{
    border-color: #1E66A6;    
    background-color: #222F2F;
}

app-painting-list .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #21539C;
  border-color: #21539C;
}

app-painting-list .page-link {
  color: #21539C;
}

/* app-detail */
app-painting-list .tab-panel,
app-detail .tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

app-painting-list .nav-tabs>li.open, .member-tabset>.nav-tabs>li:hover ,
app-detail .nav-tabs>li.open, .member-tabset>.nav-tabs>li:hover {
  border-bottom: 4px solid #fbcdcf;
}

app-painting-list .member-tabset>.nav-tabs>li.open>a, .member-tabset>.nav-tabs>li:hover>a,
app-detail .member-tabset>.nav-tabs>li.open>a, .member-tabset>.nav-tabs>li:hover>a {
  border: 0;
  background: none !important;
  color: #333333;
}

app-painting-list .member-tabset>.nav-tabs>li.open>a>i, .member-tabset>.nav-tabs>li:hover>a>i,
app-detail .member-tabset>.nav-tabs>li.open>a>i, .member-tabset>.nav-tabs>li:hover>a>i {
  color: #a6a6a6;
}

app-painting-list .member-tabset>.nav-tabs>li.open .dropdown-menu, .member-tabset>.nav-tabs>li:hover .dropdown-menu ,
app-detail .member-tabset>.nav-tabs>li.open .dropdown-menu, .member-tabset>.nav-tabs>li:hover .dropdown-menu {
  margin-top: 0px;
}

app-painting-list
app-detail .member-tabset>.nav-tabs>li.active {
  border-bottom: 4px solid #21539C;
  position: relative;
}

app-painting-list .member-tabset>.nav-tabs>li.active>a ,
app-detail .member-tabset>.nav-tabs>li.active>a {
  border: 0 !important;
  color: #21539C;
}

app-painting-list .member-tabset>.nav-tabs>li.active>a>i ,
app-detail .member-tabset>.nav-tabs>li.active>a>i {
  color: #21539C;
}

app-painting-list .member-tabset>.tab-content ,
app-detail .member-tabset>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}

app-painting-list a.nav-link,
app-detail a.nav-link {
  color: #21539C;
}


/* Image Gallery Modal Border */
.ngx-gallery-image.ngx-gallery-active{
  border: 1px solid #333333;
}

/* Event Main Images */
.article .article-img {
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
