<div class="container">
  <div class="container mt-4 mb-5">


    <div class="row ng-scope col-md-12">
      <!-- Actual search box -->
      <div class="form-group has-search mr-5">
        <span class="fa fa-search form-control-feedback"></span>
        <input #filter type="text" class="form-control" placeholder="Search" [formControl]="searchControl" />
      </div>

      <!-- <div *ngFor="let paint of (paintinsObservable$ | async)?.result as PaginatedResult">
        <p>{{paint.name | json}}</p>
      </div> -->


      <div class="btn-group mb-3 mr-5">

        <label class="btn btn-info mr-1" ngDefaultControl [(ngModel)]="this.paintingParams.categoryId" btnRadio="1"
          tabindex="0" role="button" (click)="loadPaintings()">{{ "GALLERY.CATEGORY-MIX" | translate }}</label>
        <label class="btn btn-info mr-1" ngDefaultControl [(ngModel)]="this.paintingParams.categoryId" btnRadio="2"
          tabindex="0" role="button" (click)="loadPaintings()">{{ "GALLERY.CATEGORY-SEA" | translate }}</label>
        <label class="btn btn-info mr-1" ngDefaultControl [(ngModel)]="this.paintingParams.categoryId" btnRadio="3"
          tabindex="0" role="button" (click)="loadPaintings()">{{ "GALLERY.CATEGORY-MARINE" | translate }}</label>
      </div>

      <div class="btn-group mb-3">
        <label class="btn btn-info mr-1" ngDefaultControl [(ngModel)]="this.paintingParams.available" btnRadio="true"
          tabindex="0" role="button" (click)="loadPaintings()">{{ "GENERAL.AVAILABLE" | translate }}</label>
        <label class="btn btn-info" ngDefaultControl [(ngModel)]="this.paintingParams.available" name="available"
          btnRadio="false" tabindex="0" role="button" (click)="loadPaintings()">{{ "GENERAL.UNAVAILABLE" | translate
          }}</label>
      </div>
    </div>

    <ng-template #itemTemplate let-item="item" let-index="index">
      <app-admin-painting-thumb [paintingDetails]="item.value" (deletePaintingEvent)="deleteItem($event)">
      </app-admin-painting-thumb>
    </ng-template>

    <div class="row ng-scope">
      <div class="col-md-12">
        <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
        <p class="text-muted fs-mini">
          <!-- Your matches - {{(paintinsObservable$ | async)?.pagination?.totalItems}} found -->
          Your matches -{{ pagination?.totalItems}} found
        </p>
      </div>

      <bs-sortable [(ngModel)]="paintings" [itemTemplate]="itemTemplate" itemClass="sortable-item"
      itemActiveClass="sortable-item-active" placeholderItem="" placeholderClass="placeholderStyle"
      wrapperClass="sortable-wrapper" (onChange)="onChange($event)" draggable="true" (drop)="dropItem($event)"></bs-sortable>
      <!-- <div *ngFor="let painting of paintings" class="col-md-12">
        <div class="movable">
          <app-admin-painting-thumb [paintingDetails]="painting" (deletePaintingEvent)="deleteItem($event)">
          </app-admin-painting-thumb>
        </div>
      </div> -->
    </div>

    <div class="d-flex justify-content-center mt-5">
      <!-- <pagination [boundaryLinks]="true" [totalItems]="(paintinsObservable$ | async)?.pagination?.totalItems" [itemsPerPage]="(paintinsObservable$ | async)?.pagination?.itemsPerPage"
        [ngModel]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination> -->
      <pagination [boundaryLinks]="true" [totalItems]="pagination?.totalItems" [itemsPerPage]="pagination?.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
      </pagination>
    </div>
  </div>
</div>