<div class="container">
    <div class="row ng-scope">
        <div class="col-md-12">
            <h4>Results <span class="fw-semi-bold">Filtering</span></h4>
            <p class="text-muted fs-mini">Listed content is categorized by the following groups:</p>
        </div>
        <div *ngFor="let painting of paintings" class="col-md-12">
            <app-admin-painting-list-thumb [paintingDetails]="painting"></app-admin-painting-list-thumb>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>

