<div class="card mb-4" style="width: 250px">
  <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="../../../assets/footer/footer-sea-peabble.jpg"
      alt="{{ paintings }}"
    />
    <!-- <div class="card-img-overlay">
      <h5 class="card-title">{{ paintings }}</h5>
    </div> -->
    <ul class="list-inline painting-title animate text-center">
        <li class="list-inline-item center-title">
          {{ paintings }} 
        </li>
    </ul>
    <ul class="list-inline like-icon animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
      </li>
    </ul>
  </div>
</div>
