img {
  /* border: solid 2px;
  border-bottom-color: #ffe;
  border-left-color: #eed;
  border-right-color: #eed;
  border-top-color: #ccb; */
}

img {
  width: auto;
  max-height: 90%;
  max-width: 90%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.card:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.5;
}

.card {
  border: none;
  background: none;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  position: relative;
  cursor: pointer;
  /* background-color: #a9d3e9; */
  /* background-color: cornflowerblue; */
  height: 100%;
  overflow: hidden;
}

.card-img-wrapper:hover {
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  /* opacity: 0.5; */
  background-color: aqua;
  border-radius: 2px;
}

.like-icon {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  margin-left: 60%;
}

.card-img-wrapper:hover .like-icon {
  bottom: 0;
  opacity: 1;
}

.painting-title {
  position: absolute;
  bottom: 80%;
  top: -80%;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 20px;
  margin: 0 auto;
  font-size: large;
  font-weight: 700;
  color: #21539c;
}

.list-inline-item:active,
.list-inline-item:focus,
.list-inline-item:focus-within,
.list-inline-item:hover {
  box-shadow: 0 0 0 0.1rem rgb(33 83 156 / 20%);
}

.center-title {
  background-color: rgba(255, 255, 255, 0.6);
  width: 90%;
  box-shadow: 33 83 156 0.1rem rgb(255 255 255 / 80%);
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
}

.card-img-wrapper:hover .painting-title {
  top: 1%;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within,
.btn.btn-primary:hover {
  background-color: #21539c;
  border-color: #21539c;
}

.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:focus-within,
.btn.btn-primary:hover {
  box-shadow: 0 0 0 0.2rem rgb(33 83 156 / 50%);
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(33 83 156 / 70%);
}

.frame {
  /* background-color: #ddc; */
  /* border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
  box-sizing: border-box; */
  display: flex;
  /* margin: 1vh 1vw; */
  height: 50vh;
  padding: 8vmin;
  position: relative;
  text-align: center;
}

.frame:before {
  /* border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin; */
}

.frame:after {
  /* border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin; */
}
