<div class="col-md-12">
    <section class="search-result-item mt-3">
        <a class="image-link"><img class="image"
                src="{{ localhost + paintingDetails?.url }}/thumbnail/{{paintingDetails?.imageFileName}}">
        </a>
        <div class="search-result-item-body">
            <div class="row">
                <div class="col-sm-9">
                    <h4 class="search-result-item-heading">{{ paintingDetails?.name }} <span
                            class="badge bg-danger fw-normal pull-right">{{paintingDetails?.isMain}}</span></h4>
                    <p class="info">Created On: {{ paintingDetails?.createdOn | date: "mediumDate" }}</p>
                    <p class="description">{{paintingDetails?.description}}</p>
                </div>
                <div class="col-sm-3 text-align-center">
                    <p class="value3 mt-sm">$10, 300</p>
                    <p class="fs-mini text-muted">PER WEEK</p>
                    <a class="btn btn-success  btn-sm" routerLink="/paintings/{{paintingDetails?.id}}">
                        <i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-danger btn-sm"><i class="fa fa-trash" aria-hidden="true" (click)="show()"></i> Delete</a>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <app-admin-confirm-modal id="custom-modal-1"></app-admin-confirm-modal> -->
