.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

h4{
    margin-top: 5px;
}



.modal-dialog {
    width: 360px !important;
    margin-top: 120px;
    margin: 30px auto;
}
.modal-dialog .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-dialog .confirm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 150px;
}
.modal-dialog .confirm .content {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff !important;
    font-weight: 700;
}
.modal-dialog .confirm .buttons {
    padding: 10px 15px;
    float: right;
}
.modal-dialog .confirm .buttons button {
    margin-right: 10px;
}
