.container-fluid {
  padding: 0;
  margin: 0;
}
.footer {
  padding: 0;
  margin: 0;
  border: 0;
}
#colophon {
  background: url("../../../assets/footer/footer-sea-peabble.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 80px;
  border-top: 15px solid #21539c;
}

#colophon a {
  text-decoration: none;
  font-weight: 600;
  padding-right: 100px;
}

#colophon > a:hover {
  color: blueviolet;
}
