<div class="blog-single">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-lg-8 m-15px-tb">
        <app-events-article
          *ngFor="let event of events"
          [currentEvent]="event"
        ></app-events-article>
      </div>
      <div class="col-lg-4 m-15px-tb blog-aside">
        <app-events-aside></app-events-aside>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
