<div class="container">
    <form #editForm="ngForm" id="editForm" class="mb-5" [formGroup]="parentForm" (ngSubmit)="editEvent()">
      <h2 class="text-center text-primary">Edit Event</h2>
      <!-- <p>Form Status: {{ eventModel.status | json }}</p> -->
      
      <hr />

      <div class="col-sm-12">
        <div *ngIf="editForm.dirty" class="alert alert-info"><strong>Information:</strong>
          You have mage changes. Any unsaved changes will be lost!
        </div>
      </div>
  
      <form [formGroup]="parentForm">
        <!-- <div class="NgxEditor__Wrapper mb-5 form-group">
          <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" [(ngModel)]="html" formControlName="editorContent"></ngx-editor>
        </div> -->
  
        <h4>Български</h4>
        <app-input-name [parentForm]="parentForm" [inputName]="'name'"></app-input-name>
        <app-editor [parentForm]="parentForm" [conrolName]="'text'"></app-editor>
  
        <h4>Английски</h4> 
        <app-input-name [parentForm]="parentForm" [inputName]="'nameGb'"></app-input-name>
        <app-editor [parentForm]="parentForm"  [conrolName]="'textGb'"></app-editor>
  
        <h4>Немски</h4> 
        <app-input-name [parentForm]="parentForm" [inputName]="'nameDe'"></app-input-name>
        <app-editor [parentForm]="parentForm"  [conrolName]="'textDe'"></app-editor>
  
        <h4>Руски</h4> 
        <app-input-name [parentForm]="parentForm" [inputName]="'nameRu'"></app-input-name>
        <app-editor [parentForm]="parentForm"  [conrolName]="'textRu'"></app-editor>

        <app-image-uploader *ngIf="currentEvent?.id" [event]="currentEvent"></app-image-uploader>
        <!-- <app-photo-editor [photos]="user.photos" (getMemberPhotoChange)="updateMainPhoto($event)"></app-photo-editor> -->
      </form>
  
  
  
  
  
      <div class="form-group text-center">
        <button class="btn btn-success"  [disabled]='!editForm.dirty' form="editForm"  type="submit">
          Save Event
        </button>
      </div>
    </form>
  </div>