
<h2 style="text-align: center;">Example of Ngx-Bootstrap Modal</h2>  
<div style="width: fit-content;margin: auto;margin-top: 18px;">  
  <button type="button" class="btn btn-primary" (click)="openModalWithClass(template)">Open modal</button>  
</div>  

<br>  
 
<ng-template #template>  
  <div class="modal-header">  

    <h4 class="modal-title pull-left">Modal</h4>  

    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">  

      <span aria-hidden="true">×</span>  

    </button>  

  </div>  

  <div class="modal-body">  

    <h3>List of my upcomming articles in DZone</h3>  

    <ul>  
     <li>Use of Ngx-Bootstrap Modal in Angular 8</li>  
     <li>Use of Ngx-Bootstrap Progres Bar in Angular 8</li>  
     <li>Use of Ngx-Bootstrap Datepicker in Angular 8</li>  
     <li>Use of Ngx-Bootstrap Timepicker in Angular 8</li>  
      <li>Use of Ngx-Bootstrap Dropdown in Angular 8</li>  
      <li>Use of Ngx-Bootstrap Sortable in Angular 8</li>  
      <li>Use of Ngx-Bootstrap Collapse in Angular 8</li>  
      <li>Use of Ngx-Bootstrap Carousel in Angular 8</li>  
      <li>Use of Ngx-Bootstrap Typehead in Angular 8</li>  
    </ul>  
    <h3>You can check my all DZone Articles <a href="https://dzone.com/users/3961436/sidmvp07.html">here</a></h3>  
  </div>  
  <div class="modal-footer">  
    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>  
  </div>  
</ng-template> 