#loader {
  /* Uncomment this to make it run! */
  /*
     animation: loader 5s linear infinite; 
  */
  
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  z-index: 11;
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #21539C;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}

.box-background{
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); */
  background-color: rgba(255,255,255,0.6); 
}


body,html {
  overflow: hidden;
  height:auto;
}


h6 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  font-weight: 200;
  opacity: .9;
	font-family: sans-serif;
  color: #A2A29A;
}


/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: #21539C;
    text-shadow:
      .25em 0 0 rgba(33,83,156,0),
      .5em 0 0 rgba(33,83,156,0);}
  40% {
    color: #21539C;
    text-shadow:
      .25em 0 0 rgba(33,83,156,0),
      .5em 0 0 rgba(33,83,156,0);}
  60% {
    text-shadow:
      .25em 0 0 #21539C,
      .5em 0 0 rgba(33,83,156,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 #21539C,
      .5em 0 0 #21539C;}}
