<div class="container">

  <form class="mb-5" [formGroup]="parentForm" (ngSubmit)="addEvent()">
    <h2 class="text-center text-primary">Add Event</h2>
    <!-- <p>Form Status: {{ eventModel.status | json }}</p> -->

    <hr />
    
    <form [formGroup]="parentForm">
      <!-- <div class="NgxEditor__Wrapper mb-5 form-group">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [(ngModel)]="html" formControlName="editorContent"></ngx-editor>
      </div> -->

      <div class="form-group">
        <h4>Дата на събитието</h4> 
        <input
          [ngClass]="{
            'is-invalid':
            parentForm.get('eventDate').errors &&
            parentForm.get('eventDate').touched
          }"
          class="form-control"
          placeholder="Date of Event"
          formControlName="eventDate"
          type="text"
          bsDatepicker
          [bsConfig]="{containerClass:'theme-dark-blue',dateInputFormat: 'DD/MM/YYYY'}"
        />
        <div
          class="invalid-feedback"
          *ngIf="
          parentForm.get('eventDate').touched &&
          parentForm.get('eventDate').hasError('required')
          "
        >
          Date of Birth is required
        </div>
      </div>

    

      <h4>Български</h4> 
      <app-input-name [parentForm]="parentForm" [inputName]="'name'"></app-input-name>
      <app-editor [parentForm]="parentForm" [conrolName]="'text'"></app-editor>

      <h4>Английски</h4> 
      <app-input-name [parentForm]="parentForm" [inputName]="'nameGb'"></app-input-name>
      <app-editor [parentForm]="parentForm"  [conrolName]="'textGb'"></app-editor>

      <h4>Немски</h4> 
      <app-input-name [parentForm]="parentForm" [inputName]="'nameDe'"></app-input-name>
      <app-editor [parentForm]="parentForm"  [conrolName]="'textDe'"></app-editor>

      <h4>Руски</h4> 
      <app-input-name [parentForm]="parentForm" [inputName]="'nameRu'"></app-input-name>
      <app-editor [parentForm]="parentForm"  [conrolName]="'textRu'"></app-editor>
      

      
      <app-image-uploader *ngIf="event?.id" [event]="event"></app-image-uploader>
    </form>


    <div *ngIf="event?.id == null" class="form-group text-center">
      <button class="btn btn-success" [disabled]="!parentForm.valid" type="submit">
        Save Event
      </button>
    </div>
  </form>
</div>