<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <div *ngIf="loggedIn()" class="dropdown mr-3" dropdown>
        <span class="mr-1">
          <img src="{{ photoUrl || '../../../assets/user.png' }}" alt="{{ authService.currentUser.username }}" />
        </span>
        <a class="dropdown-toggle" dropdownToggle text-info>
          Welcome {{ authService.decodedToken?.unique_name | titlecase }}
        </a>
        <div class="dropdown-menu mt-1 ml-1" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/gallery-detail-edit']"><i class="fa fa-user"></i> Edit Profile</a>
          <a class="dropdown-item" [routerLink]="['/paintings/add']"><i class="fa fa-user"></i> Add Painting</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline my-2 my-lg-0"
        (ngSubmit)="login(loginForm.value)">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required ngModel
          username />
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required ngModel
          password />
        <button [disabled]="!loginForm.valid" class="btn btn-success my-2 my-sm-0" type="submit">
          Login
        </button>
      </form>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-white shadow-sm p-3 mb-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../assets/logo.jpg" alt="logo" />
    </a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['']">{{ "NAV.HOME" | translate }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/start']">Start</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>Members</a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/members']">Mixed Tehnique</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/gallery-sea']">Sea mosaic</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/gallery-marine']">Marine-themed wall panels</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/paintings']">{{
          "NAV.GALLERY" | translate
          }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/lists']">{{
          "NAV.LISTS" | translate
          }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/events']">{{
          "NAV.EVENTS" | translate
          }}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contacts']">{{
          "NAV.CONTACTS" | translate
          }}</a>
      </li>

      <div class="dropdown" dropdown>
        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" type="button" dropdownToggle>
          <span class="flag-icon flag-icon-{{ selectedLanguage }}"></span>{{ "TRANSLATE.LANGUAGE" | translate }}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" *dropdownMenu>
          <a *ngFor="let lang of languagesToShow" class="dropdown-item" (click)="changeLanguage(lang)">
            <span class="flag-icon flag-icon-{{ lang }}"></span>{{ "TRANSLATE." + lang | translate }}</a>
        </div>
      </div>
    </ul>
  </div>

</nav>